.about-card {
  //padding-top: 75px;

  @include tablet {
    order: 2;
  }

  @include mobile {
    order: 2;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__img-wrap {
    display: inline-table;
    position: relative;
    border-radius: 20px;
    width: 75.93px;
    height: 75.93px;
    background: linear-gradient(161.44deg, #44464B -14.97%, #44464B 103.74%);

    @include mobile {
      width: 60px;
      height: 60px;
    }

    &:before {
      position: absolute;
      content: '';
      width: 75.93px;
      height: 75.93px;
      background: linear-gradient(42.06deg, #58A54B -9.77%, rgba(88, 165, 75, 0.22) 50.18%);
      border-radius: 20px;
      left: -5px;
      top: -5px;
      z-index: -1;
      transform: rotate(90deg);

      @include mobile {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;

    &:last-child{
      margin-right: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    width: 320px;

    @include tablet{
      margin-right: 0;
    }

    @include mobile {
      margin-bottom: 40px;
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__desc {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #454545;
    margin-left: 20px;
    max-width: 240px;

    @include mobile {
      font-size: 14px;
      line-height: 19px;
    }
  }
}