.bread-crumbs {
  display: flex;
  margin-top: 40px;

  &__item {
    position: relative;
    padding-right: 30px;
    margin-right: 14px;
    transition: 0.2s;

    &:hover {
      transition: 0.2s;
      text-decoration: underline;
    }

    &:last-child {
      padding-right: 0;

      &:after {
        content: none;
      }
    }

    &:after {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      background: url("../images/arrow.svg") no-repeat center;
      background-size: cover;
      width: 13px;
      height: 8px;
    }
  }

  &__link {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FF6301;

    &--active {
      color: #454545;
    }
  }
}