.contacts-us {
  padding: 130px 0;
  background: url("../images/contacts-us.jpg") no-repeat center;
  background-size: cover;

  @include mobile {
    background: none;
    padding: 50px 0;
    margin-bottom: 0;
  }

  &--fein {
    background: url("../images/fein-form.jpg") no-repeat center;
    background-size: cover;
  }

}