.form {
  background: url("../images/man.jpg") no-repeat;
  background-size: cover;


  h3 {
    font-family: russo, sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 30px;
  }

  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    width: 278px;
  }

  &__info {
    padding-left: 85px;
  }

  &__wrap {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    form {
      background: #061020;
      display: flex;
      flex-direction: column;
      padding: 65px 96px 65px 97px;
      border: 3px solid #01DFCC;
      height: 464px;
      margin-bottom: -50px;
      margin-top: -50px;

      h3{
        margin-bottom: 17px;
      }

      label {
        font-family: russo, sans-serif;
        font-style: normal;
        font-size: 10px;
        line-height: 14px;
        margin-top: 20px;
        margin-bottom: 13px;
      }

      button {
        height: 60px;
        width: 250px;
        margin: 50px auto 0 auto;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;

      }

      input {
        box-sizing: border-box;
        outline: transparent;
        background: transparent;
        border: none;
        color: #ffffff;
        font-weight: normal;
        font-size: 18px;
        padding-left: 5px;
        line-height: 25px;
        border-bottom: 1px solid #ffffff;
        padding-bottom: 5px;

        &::placeholder {
          font-weight: bold;
          font-size: 10px;
          line-height: 14px;
          color: #12223D;
        }
      }

      .textarea {
        text-decoration: underline;
        margin-bottom: 0;
      }

      .textarea__wrap {
        position: relative;

        span {
          position: absolute;
          bottom: 7px;
          left: 5px;
          white-space: nowrap;
          font-weight: bold;
          font-size: 10px;
          line-height: 14px;
          color: #12223D;
        }
      }

      textarea {
        background: transparent;
        border: none;
        resize: none;
        color: #ffffff;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        border-bottom: 1px solid #ffffff;
        outline: transparent;
        height: 100px;

        &::placeholder {
          font-weight: bold;
          font-size: 10px;
          line-height: 14px;
          color: #12223D;
        }
      }

      h3 {
        font-family: russo, sans-serif;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: #ffffff;
      }
    }
  }
}