.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: linear-gradient(180deg, #FEFEFE 0%, #E7E7E7 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 30;


  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__language-wrap {
    display: flex;
    margin-left: 25px;
  }

  &__logo-wrap {
    display: flex;

    @include tablet {
      padding: 35px 0;
    }

    @include mobile {
      padding: 20px 0;
    }
  }
}

.btn__burger {
  position: fixed;
  background: #494F56 !important;
  width: 58px;
  height: 58px;
  top: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;


  @include mobile {
    width: 34px;
    height: 34px;
    top: 12px;
    right: 12px;
  }

  &-burger {
    position: absolute;
    width: 34px;
    height: 3px;
    background: #FFFFFF;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;

    @include mobile {
      width: 20px;
      height: 2px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      width: 34px;
      height: 3px;
      border-radius: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      transition: 0.2s;

      @include mobile {
        width: 20px;
        height: 2px;
      }
    }

    &:before {
      top: -7px;

      @include mobile {
        top: -5px;
      }
    }

    &:after {
      top: 10px;

      @include mobile {
        top: 7px;
      }
    }

    &--active {
      background: transparent;
      transition: 0.4s;

      &:before {
        transform: rotate(45deg);
        top: 0;
        left: 0;
        transition: 0.4s;
      }

      &:after {
        transform: rotate(-45deg);
        top: 0;
        left: 0;
        transition: 0.4s;
      }
    }
  }
}

.toggle,
[id^=drop] {
  display: none;
}

nav {
  margin: 0 10px;
  display: flex;
  padding: 0;
  width: 100%;
  background: transparent;
  align-items: center;
  @include mobile {
    top: 65px !important;
  }
}

.logo {
  display: block;
  padding: 35px 0;

  @include mobile {
    padding: 20px 0;
  }
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.drop__list-2 {
  right: -271px;
  width: 270px !important;
  top: 0;
  background: #FFFFFF;
}

.drop__list-2 li {
  top: 0;
  left: 0;
}

.drop__list-2 li:hover {
  background: #EEEEEE;
}

.drop__list-2 a:hover {
  width: 82%;
  background: #EEEEEE;
  margin-left: -3px
}

nav ul li {
  display: inline-block;
  white-space: nowrap;
}

nav a {
  display: block;
  padding: 36px 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  color: #454545;
}

nav ul li ul li a {
  padding: 15px 35px 15px 20px;
  font-weight: normal;
  white-space: normal;
  line-height: 22px;
  transition: 0.2s;
}

nav ul li ul li a:hover {
  width: 86%;
  background: #FFFFFF;
  border-radius: 10px;
  margin-left: -3px;
  transition: 0.2s;
}

nav ul li ul li a:active {
  font-weight: bold;
}

nav ul li ul li:hover {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  font-weight: bold;
}

nav a:hover {
}

nav ul ul {
  display: none;
  position: absolute;
  top: 106px;
  width: 100%;
  background: #E9E9E9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  border-radius: 10px;

}

nav ul li:hover > ul {
  display: inherit;
  width: 350px;
}

nav ul ul li {
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}


li > a {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    @include png-sprite($icon-arrow);
    transition: 0.2s;
  }
}

.drop-arrow {
  margin-right: 20px;
  &:after {
    right: -25px;
    transform: translateY(-50%) rotate(0deg);
  }
}

li > a:only-child:after {
  content: none;
}


@include tablet {

  .nav__item {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .menu {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.35) !important;
    border-radius: 0px 0px 0px 10px;
    background: #E9E9E9 !important;
    padding-bottom: 25px;

    &--active {
      @include tablet {
        max-height: 500px;
        display: flex !important;
        flex-direction: column;
      }
      @include mobile {
        max-height: 500px;
        display: flex;
        flex-direction: column;
      }
    }
  }

  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }

  nav {
    position: fixed;
    top: 115px;
    right: 0;
    margin: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  nav a {
    padding: 10px 10px;
    padding-left: 50px;
  }

  .toggle + a,
  .menu {
    display: none;
  }

  .toggle {
    cursor: pointer;
    display: block;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
    color: #454545;
    white-space: normal;

  }
  nav ul li ul li .toggle, nav ul ul a, nav ul ul ul a {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #454545 !important;
    text-align: left;
  }
  .toggle:hover {
    font-weight: bold;
  }

  [id^=drop]:checked + ul {
    display: block;
    background: #FFFFFF;
    opacity: 1;
    transition: 0.2s;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.3);
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav ul li ul li:hover {
    box-shadow: none;
    border-radius: 0;
    background: transparent;
  }

  nav a:hover,
  nav ul ul ul a {
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 40px 14px 20px;
    color: #FFF;
    font-size: 17px;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
  }

  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    border-radius: 0;
  }

  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
  }
  nav ul li:hover > ul {
    width: auto;
  }

  li .toggle {
    padding: 10px 10px;
    padding-left: 50px;
  }

  .drop__list-2 {
    box-shadow: none;
    border-radius: 0;
    width: 100% !important;
    padding-left: 20px;
  }
  .drop__list-2 a:hover {
    border-radius: 0;
    padding-right: 0;
    background: transparent;
    margin-left: 0;
    transition: 0s;
  }
  .drop__list-2 li:hover {
    background: transparent;
  }
}

@include mobile {
  .nav__item {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  //.menu {
  //  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.35) !important;
  //  border-radius: 0px 0px 0px 10px;
  //  background: #E9E9E9 !important;
  //  padding-bottom: 25px;
  //}
  .menu {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.35) !important;
    border-radius: 0px 0px 0px 10px;
    background: #E9E9E9 !important;
    padding-bottom: 25px;

    &--active {
      @include tablet {
        max-height: 500px;
        display: flex !important;
        flex-direction: column;
      }
      @include mobile {
        max-height: 500px;
        display: flex !important;
        flex-direction: column;
      }
    }
  }

  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }

  nav {
    position: fixed;
    top: 115px;
    right: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav a {
    padding: 10px 10px;
    padding-left: 50px;
  }

  .toggle + a,
  .menu {
    display: none;
  }

  .toggle {
    cursor: pointer;
    display: block;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
    color: #454545;
    white-space: normal;

  }
  nav ul li ul li .toggle, nav ul ul a, nav ul ul ul a {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #454545 !important;
    text-align: left;
  }
  .toggle:hover {
    font-weight: bold;
  }

  [id^=drop]:checked + ul {
    display: block;
    background: #FFFFFF;
    opacity: 1;
    transition: 0.2s;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.3);
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav ul li ul li:hover {
    box-shadow: none;
    border-radius: 0;
    background: transparent;
  }

  nav a:hover,
  nav ul ul ul a {
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 40px 14px 20px;
    color: #FFF;
    font-size: 17px;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
  }

  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    border-radius: 0;
  }

  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
  }
  nav ul li:hover > ul {
    width: auto;
  }

  li .toggle {
    padding: 10px 10px;
    padding-left: 50px;
  }

  .drop__list-2 {
    box-shadow: none;
    border-radius: 0;
    width: 100% !important;
    padding-left: 20px;
  }
  .drop__list-2 a:hover {
    border-radius: 0;
    padding-right: 0;
    background: transparent;
    margin-left: 0;
    transition: 0s;
  }
  .drop__list-2 li:hover {
    background: transparent;
  }
}

.nav__item--sub-phone {
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.toggle {

  &--arrow {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      right: 10px;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      @include png-sprite($icon-arrow);
      transition: 0.2s;
    }

    &:hover {
      &:after {
        transform: translateY(-50%) rotate(0deg);
        transition: 0.2s;
      }
    }
  }
}