.hero {
  background: url("../images/bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media(max-width: 910px) {
    padding-bottom: 150px;
    min-height: auto;
  }
@include mobile{
  padding-bottom: 110px;
}
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    //padding-bottom: 100px;
    .hero__title-wrap{
      //width: 60%;
      transform-style: preserve-3d;
      .ak{
        top: -65px;
        right: 0;
        @media(max-width: 910px){
          transform-style: flat !important;
          transform: none!important;
        }
      }
      .boom{
        bottom: 20px;
        right: 180px;
        @media(max-width: 910px){
          transform-style: flat !important;
          transform: none!important;
        }
      }
      .glock{
        right: 0;
        bottom: 0;
        @media(max-width: 910px){
          transform-style: flat !important;
          transform: none!important;
        }
      }
    }
    .hero__weapons{
      position: absolute;
      top: 0;


    }
    //.hero__title-wrap, .hero__weapons {
    //  width: 50%;
    //}

    .hero__title-wrap {
      //max-width: 450px;

      span {
        color: #70338C;
      }

      p {
        color: #C9AFD6;
        margin-bottom: 80px;
        max-width: 340px;
        width: 100%;
        font-size: 24px;
        line-height: 33px;
        @media(max-width: 910px) {
          margin-bottom: 50px;
        }
        @include mobile{
          font-size: 18px;
          line-height: 25px;
        }
      }

      a {
        display: inline-block;
        padding: 17px 52px;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        @media(max-width: 910px) {
          margin-top: 40px;
        }
      }

      h1 {
        font-family: russo, sans-serif;
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 65px;
        padding-right: 380px;

        @media(max-width: 910px) {
          padding-right: 0;
          padding-top: 40px;
          margin-bottom: 15px;
        }
        @include mobile{
          font-size: 30px;
          line-height: 36px;
        }

      }
    }

    .weapon-img{
      position: absolute;
    }
  }
}
.wrap--img{
  @media(max-width: 910px) {
   display: none;
  }
}
.guns-mob{
  display: none;
  @media(max-width: 910px) {
    display: block;
    width: 100%;
  }
}
.wrap-btn-mobile{
  justify-content: center;
}