.title-block {
  margin-top: 80px;
  margin-bottom: 80px;

  @include tablet {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  @include mobile {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #454545;

    @include mobile {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
