body {
  margin: 0;
  position: relative;
  padding: 0;
  font-family: "openSans", sans-serif;
  color: #ffffff;
  perspective: 1000px;
  background: radial-gradient(101.21% 101.21% at 83.05% 101.21%, #061020 0%, #0E1B31 100%), #061020;
  overflow-x: hidden;
}
.gotop{
  position: sticky;
  right: 0;
  bottom: 39px;
  right: 0;
  left: 94%;
  width: 40px;
  height: 40px;
  z-index: 100001;
  background: transparent;
  outline: transparent;
}
h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}
.btn{
  position: relative;
  display: flex;

  background: linear-gradient(93.82deg, #01DFCC 5.29%, #018E85 107.98%);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  align-items: center;justify-content: center;
  padding: 10.5px 49.1px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;

  &:hover{
    color: #000000;
    background-image: none;
    background-color: #fff;
  }
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: transparent;
}
.container {
  position: relative;
  max-width: $container;
  margin: 0 auto;
  padding: 0 20px;

  &--payment{
    max-width: 1000px;
  }
  &--need{
    max-width: 1100px;
  }

  @media(max-width: 910px) {
    padding: 0 46px;
  }


}

.hide{
  display: inline-block;
  @media(max-width: 910px) {
    display: none !important;
  }
}

.show{
  display: none !important;
  @media(max-width: 910px) {
    display: flex !important;
  }
}
.burger{
  display: none !important;
  @media(max-width: 910px) {
    display: flex !important;
  }
}