
<section class="about-card">
    {% include '../components/title-block.twig' with
        {
            title : 'Наши приемущества',
        } %}
    <div class="container">
        <div class="about-card__wrap">
            <ul class="about-card__list">
                 <li class="about-card__item">
                    <div class="about-card__img-wrap">
                        <img class="about-card__img" src="../images/truck.svg" alt="">
                    </div>
                    <p class="about-card__desc">
                        Поставщики на все  крупные предприятия РБ
                    </p>
                </li>
                <li class="about-card__item">
                    <div class="about-card__img-wrap">
                        <img class="about-card__img" src="../images/shield.svg" alt="">
                    </div>
                    <p class="about-card__desc">
                        Официальная гарантия
                    </p>
                </li>
                <li class="about-card__item">
                    <div class="about-card__img-wrap">
                        <img class="about-card__img" src="../images/payment.svg" alt="">
                    </div>
                    <p class="about-card__desc">
                        Лучшее соотношение цены и качества
                    </p>
                </li>
                <li class="about-card__item">
                    <div class="about-card__img-wrap">
                        <img class="about-card__img" src="../images/clock.svg" alt="">
                    </div>
                    <p class="about-card__desc">
                        12 лет на рынке
                    </p>
                </li>
            </ul>
{#            <ul class="about-card__list">#}
{#                <li class="about-card__item">#}
{#                    <div class="about-card__img-wrap">#}
{#                        <img class="about-card__img" src="../images/payment.svg" alt="">#}
{#                    </div>#}
{#                    <p class="about-card__desc">#}
{#                        Лучшее соотношение  цены и качества#}
{#                    </p>#}
{#                </li>#}
{#                <li class="about-card__item">#}
{#                    <div class="about-card__img-wrap">#}
{#                        <img class="about-card__img" src="../images/clock.svg" alt="">#}
{#                    </div>#}
{#                    <p class="about-card__desc">#}
{#                        12 лет на рынке#}
{#                    </p>#}
{#                </li>#}
{#            </ul>#}
        </div>
    </div>
</section>