<section class="about-prod-desc">
    <div class="container">
        <div class="about-prod-desc__wrap">
            <div class="about-prod-desc__img">
                <img src="images/image48.jpg" alt="">
            </div>
            <div class="about-prod-desc__desc-wrap">
                <p class="about-prod-desc__desc">
                    Первый в мире электроинструмент - это изобретение фирмы C. & E. FEIN GmbH. Основал предприятие в 1867 г. Вильгельм Эмиль Файн. Его сын Эмиль Файн разработал в1895 г. первую электродрель. Ныне богатое традициями предприятие насчитывает 840 работников, в том числе 600 в самой Германии, и является производителем электроинструментов с мировой репутацией.
                </p>
                <p class="about-prod-desc__desc">Будучи ведущим производителем, фирма разрабатывает и производит оборудование для таких сегментов рынка, как металлообработка, внутренняя отделка в строительстве, автомобилестроении, а также: специализированный высоконадежный электроинструмент для промышленности и службы быта. FEIN имеет более 500 патентов и 300 защищенных изобретений.
                </p>
                <p class="about-prod-desc__desc">Тринадцать филиалов и представительства во всем мире распространяют продукцию FEIN в 45 странах. Компания FEIN вот уже 140 лет производит электроинструмент с качеством Premium.
                </p>
            </div>
        </div>
    </div>
</section>