<section class="about-desc">
    <div class="container">
        <div class="about-desc__wrap">
            <p class="about-desc__desc">«ТЕХИМПОРТ» является одной из ведущих компаний по поставке и установке оборудования для различных отраслей промышленности. Многолетняя работа с мировыми лидерами по производству оборудования и станков дает нам возможность подобрать лучшее решение для вас. </p>
            <h4 class="about-desc__title">Мы – это лучшая цена и надежность.</h4>
        </div>
    </div>
</section>