<section class="articles-card">
    <div class="container">
        <div class="articles-card__wrap">
            <ul class="articles-card__list">
                <li class="articles-card__item" style="background: url('images/articles-card-1.jpg')no-repeat center; background-size: cover;">
                    <h4 class="articles-card__title">Преимущества инструмента Fein</h4>
                    <a class="articles-card__link btn--white" href="#">Подробнее</a>
                </li>
                <li class="articles-card__item" style="background: url('images/articles-card-1.jpg')no-repeat center; background-size: cover;">
                    <h4 class="articles-card__title">Преимущества инструмента Fein</h4>
                    <a class="articles-card__link btn--white" href="#">Подробнее</a>
                </li>
                <li class="articles-card__item" style="background: url('images/articles-card-1.jpg')no-repeat center; background-size: cover;">
                    <h4 class="articles-card__title">Преимущества инструмента Fein</h4>
                    <a class="articles-card__link btn--white" href="#">Подробнее</a>
                </li>
                <li class="articles-card__item" style="background: url('images/articles-card-1.jpg')no-repeat center; background-size: cover;">
                    <h4 class="articles-card__title">Преимущества инструмента Fein</h4>
                    <a class="articles-card__link btn--white" href="#">Подробнее</a>
                </li>
                <li class="articles-card__item" style="background: url('images/articles-card-1.jpg')no-repeat center; background-size: cover;">
                    <h4 class="articles-card__title">Преимущества инструмента Fein</h4>
                    <a class="articles-card__link btn--white" href="#">Подробнее</a>
                </li>
                <li class="articles-card__item" style="background: url('images/articles-card-1.jpg')no-repeat center; background-size: cover;">
                    <h4 class="articles-card__title">Преимущества инструмента Fein</h4>
                    <div>
                        <a class="articles-card__link btn--white" href="#">Подробнее</a>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</section>