<section class="brands">
    <div class="container">
        <div class="brands__wrap">
            <div class="swiper-container brands__slider">
                <ul class="swiper-wrapper brands__swiper-wrapper">
                    <li class="swiper-slide">
                        <a class="swiper-slide__link" href="#">
                            <img class="swiper-slide__img" src="../images/slider/aquafrish.png" alt="">
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a class="swiper-slide__link" href="#">
                            <img class="swiper-slide__img" src="../images/slider/belotti.png" alt="">
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a class="swiper-slide__link" href="#">
                            <img class="swiper-slide__img" src="../images/slider/bruks.png" alt="">
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a class="swiper-slide__link" href="#">
                            <img class="swiper-slide__img" src="../images/slider/chicago.png" alt="">
                        </a>
                    </li>

                    <li class="swiper-slide">
                        <a class="swiper-slide__link" href="#">
                            <img class="swiper-slide__img" src="../images/slider/ega.png" alt="">
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a class="swiper-slide__link" href="#">
                            <img class="swiper-slide__img" src="../images/slider/faccin.png" alt="">
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a class="swiper-slide__link" href="#">
                            <img class="swiper-slide__img" src="../images/slider/fisher.png" alt="">
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a class="swiper-slide__link" href="#">
                            <img class="swiper-slide__img" src="../images/slider/giardinagroup.png" alt="">
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a class="swiper-slide__link" href="#">
                            <img class="swiper-slide__img" src="../images/slider/indusrtial.png" alt="">
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a class="swiper-slide__link" href="#">
                            <img class="swiper-slide__img" src="../images/slider/krais.png" alt="">
                        </a>
                    </li>
                </ul>
                <div class="swiper-button-prev brands__btn brands__btn--prev"></div>
                <div class="swiper-button-next brands__btn brands__btn--next"></div>
            </div>
        </div>
    </div>
</section>

{# <section class="brands"> #}
{# <div class="container"> #}
{# <div class="brands__wrap"> #}
{# <div class="swiper-container brands__slider"> #}
{# <ul class="swiper-wrapper"> #}
{# <li class="swiper-slide"> #}
{# <a class="swiper-slide__link" href="#"> #}
{# <img class="swiper-slide__img" src="../images/chicago.png" alt=""> #}
{# </a> #}
{# <a class="swiper-slide__link" href="#"> #}
{# <img class="swiper-slide__img" src="../images/hohmag.png" alt=""> #}
{# </a> #}
{# </li> #}
{# <li class="swiper-slide"> #}
{# <a class="swiper-slide__link" href="#"> #}
{# <img class="swiper-slide__img" src="../images/larzer.png" alt=""> #}
{# </a> #}
{# <a class="swiper-slide__link" href="#"> #}
{# <img class="swiper-slide__img" src="../images/rapha.png" alt=""> #}
{# </a> #}
{# </li> #}

{# <li class="swiper-slide"> #}
{# <a class="swiper-slide__link" href="#"> #}
{# <img class="swiper-slide__img" src="../images/bruks.png" alt=""> #}
{# </a> #}
{# <a class="swiper-slide__link" href="#"> #}
{# <img class="swiper-slide__img" src="../images/tersa.png" alt=""> #}
{# </a> #}
{# </li> #}
{# <li class="swiper-slide"> #}
{# <a class="swiper-slide__link" href="#"> #}
{# <img class="swiper-slide__img" src="../images/paul.png" alt=""> #}
{# </a> #}
{# <a class="swiper-slide__link" href="#"> #}
{# <img class="swiper-slide__img" src="../images/krais.png" alt=""> #}
{# </a> #}
{# </li> #}
{# <li class="swiper-slide"> #}
{# <a class="swiper-slide__link" href="#"> #}
{# <img class="swiper-slide__img" src="../images/tem.png" alt=""> #}
{# </a> #}
{# <a class="swiper-slide__link" href="#"> #}
{# <img class="swiper-slide__img" src="../images/aquafrish.png" alt=""> #}
{# </a> #}
{# </li> #}
{# </ul> #}
{# <div class="swiper-button-prev brands__btn brands__btn--prev"></div> #}
{# <div class="swiper-button-next brands__btn brands__btn--next"></div> #}
{# </div> #}
{# </div> #}
{# </div> #}
{# </section>  #}