<ul class="bread-crumbs">
    <li class="bread-crumbs__item">
        <a class="bread-crumbs__link" href="#">Главная</a>
    </li>
    <li class="bread-crumbs__item">
        <a class="bread-crumbs__link" href="#">Промышленный инструмент</a>
    </li>
    <li class="bread-crumbs__item">
        <a class="bread-crumbs__link bread-crumbs__link--active" href="#">Fain</a>
    </li>
</ul>
