<div class="buttons">
    <div class="container">
        <div class="buttons__wrap">
            <div>
                <button class="btn btn--white-green-border buttons__btn">Весь каталог <span
                            class="buttons__brand">Fain</span></button>
            </div>
            <div>
                <button class="btn btn--green" type="submit">Заказать оборудование
                </button>
            </div>

        </div>
    </div>
</div>