<section class="catalog-industrial">
    <div class="container">
        <div class="catalog-industrial__wrap">
            <ul class="catalog-industrial__list">
                <li class="catalog-industrial__item">
                    <a class="catalog-industrial__link" href="#">
                        <p class="catalog-industrial__desc">Электрический инструмент
                            <span class="catalog-industrial__name">Fein</span>
                        </p>
                        <img class="catalog-industrial__img" src="../images/catalog-industrial-1.png" alt="">
                    </a>
                </li>
                <li class="catalog-industrial__item">
                    <a class="catalog-industrial__link" href="#">
                        <p class="catalog-industrial__desc">Пневматический инструмент
                            <span class="catalog-industrial__name">Chicago Pneumstic</span>
                        </p>
                        <img class="catalog-industrial__img" src="../images/catalog-industrial-2.png" alt="">
                    </a>
                </li>
                <li class="catalog-industrial__item">
                    <a class="catalog-industrial__link" href="#">
                        <p class="catalog-industrial__desc">Сборочный инструмент
                            <span class="catalog-industrial__name">Desoutter</span>
                        </p>
                        <img class="catalog-industrial__img" src="../images/catalog-industrial-3.png" alt="">
                    </a>
                </li>
                <li class="catalog-industrial__item">
                    <a class="catalog-industrial__link" href="#">
                        <p class="catalog-industrial__desc">Усилители крутящего момена
                            <span class="catalog-industrial__name">RAD</span>
                        </p>
                        <img class="catalog-industrial__img" src="../images/catalog-industrial-4.png" alt="">
                    </a>
                </li>
                <li class="catalog-industrial__item">
                    <a class="catalog-industrial__link" href="#">
                        <p class="catalog-industrial__desc">Гидравлический инструмент
                            <span class="catalog-industrial__name">Larzep</span>
                        </p>
                        <img class="catalog-industrial__img" src="../images/catalog-industrial-5.png" alt="">
                    </a>
                </li>
                <li class="catalog-industrial__item">
                    <a class="catalog-industrial__link" href="#">
                        <p class="catalog-industrial__desc">Оборудование для ремонта запорной арматуры
                            <span class="catalog-industrial__name">Unigrind</span>
                        </p>
                        <img class="catalog-industrial__img" src="../images/catalog-industrial-6.png" alt="">
                    </a>
                </li>
                <li class="catalog-industrial__item">
                    <a class="catalog-industrial__link" href="#">
                        <p class="catalog-industrial__desc">Ручной инструмент премиум класса
                            <span class="catalog-industrial__name">EGA master</span>
                        </p>
                        <img class="catalog-industrial__img" src="../images/catalog-industrial-7.png" alt="">
                    </a>
                </li>
                <li class="catalog-industrial__item">
                    <a class="catalog-industrial__link" href="#">
                        <p class="catalog-industrial__desc">Специальный инструмент
                            <span class="catalog-industrial__name">Krais</span>
                        </p>
                        <img class="catalog-industrial__img" src="../images/catalog-industrial-8.png" alt="">
                    </a>
                </li>
                <li class="catalog-industrial__item">
                    <a class="catalog-industrial__link" href="#">
                        <p class="catalog-industrial__desc">Торцевые головки
                            <span class="catalog-industrial__name">Momenlo</span>
                        </p>
                        <img class="catalog-industrial__img" src="../images/catalog-industrial-9.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>