<section class="categories">
    <div class="container">
        <div class="categories__wrap">
            <ul class="categories__list">
                {% for categories in card %}
                    <li class="categories__item">
                        <p class="categories__desc">{{ categories.desc }}</p>
                        <img class="categories__img" src="{{ categories.img }}" alt="">
                        <a class="btn--white categories__link" href="{{ categories.link }}">Подробнее</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>