<section class="pagination {{ mod }}">
    <div class="container">
        <div class="pagination__wrap">
            <ul class="pagination__list">
                <li class="pagination__item">
                    <a class="pagination__prev" href="#">Назад</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link pagination__link--active" href="#">1</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="#">...</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="#">5</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__next" href="#">Вперед</a>
                </li>
            </ul>
        </div>
    </div>
</section>