<div class="social-links {{ mod }}">
    <ul class="social-links__list {{ modList }}">
        <li class="social-links__item">
            <a class="social-links__link social-links__link--whatsup" href="#">Whats UP!</a>
        </li>
        <li class="social-links__item">
            <a class="social-links__link social-links__link--viber" href="#">Viber</a>
        </li>
        <li class="social-links__item">
            <a class="social-links__link social-links__link--tg" href="#">Telegram</a>
        </li>
    </ul>
</div>