<section class="video-block">
    <div class="container">
        <div class="video-block__wrap">
            <div class="video-block__item">
                <iframe src="https://www.youtube.com/embed/01tPfCNfYLg" frameborder="0"
                        allowfullscreen="true"></iframe>
            </div>
            <div class="video-block__item">
                <iframe src="https://www.youtube.com/embed/01tPfCNfYLg" frameborder="0"
                        allowfullscreen="true"></iframe>
            </div>
            <div class="video-block__item">
                <iframe src="https://www.youtube.com/embed/01tPfCNfYLg" frameborder="0"
                        allowfullscreen="true"></iframe>
            </div>
        </div>
        <div class="video-block__subscribe">
            <a class="video-block__link" href="#">Перейти на канал</a>
        </div>
    </div>
</section>