@font-face {
  font-family: "openSans";
  src: url("../fonts/opensans/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "russo";
  src: url("../fonts/russo/RussoOne-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

