{% extends 'layout/base.twig' %}
{% block title %}Техимпорт{% endblock %}
{% block body %}
    <section class="hero hero--contacts" style="background: url('images/about-us-min.jpg')no-repeat center">
        <div class="container">
            <div class="hero__wrap hero__wrap--contacts">
                <div class="hero__content">
                    <h2 class="hero__title hero__title--contacts">Контакты</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="about-card">
        <div class="container">
            <div class="about-card__wrap">
                <ul class="about-card__list">
                    <li class="about-card__item">
                        <div class="about-card__img-wrap">
                            <img class="about-card__img" src="../images/truck.svg" alt="">
                        </div>
                        <p class="about-card__desc">
                            Поставщики на все крупные предприятия РБ
                        </p>
                    </li>
                    <li class="about-card__item">
                        <div class="about-card__img-wrap">
                            <img class="about-card__img" src="../images/shield.svg" alt="">
                        </div>
                        <p class="about-card__desc">
                            Официальная гарантия
                        </p>
                    </li>
                    <li class="about-card__item">
                        <div class="about-card__img-wrap">
                            <img class="about-card__img" src="../images/payment.svg" alt="">
                        </div>
                        <p class="about-card__desc">
                            Лучшее соотношение цены и качества
                        </p>
                    </li>
                    <li class="about-card__item">
                        <div class="about-card__img-wrap">
                            <img class="about-card__img" src="../images/clock.svg" alt="">
                        </div>
                        <p class="about-card__desc">
                            12 лет на рынке
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="about-us">
        <div class="container">
            <div class="about-us__we-wrap">
                <div class="about-us__we">
                    <div class="about-us__we-img-wrap">
                        <img src="images/bigcar-min.jpg" alt="">
                    </div>

                    <div class="about-us__we-desc">
                        <p>«ТЕХИМПОРТ» является одной из ведущих компаний по поставке и установке оборудования для
                            различных отраслей промышленности. Многолетняя работа с мировыми лидерами по производству
                            оборудования и станков дает нам возможность подобрать лучшее решение для вас.
                        </p>
                        <p>Мы имеем простую и доступную структуру ценообразования, основанную на сложности Вашего
                            проекта. Точная цена будет определена после рассмотрения Ваших спецификаций проекта. </p>
                        <span>Мы – это лучшая цена и надежность.</span>
                    </div>
                </div>
                <div class="title-block container">
                    <h3 class="title-block__title">Процесс взаимодействия при подборе оборудования</h3>
                </div>
                <div class="about-us__we-process-wrap">
                    <div class="about-us__we-process">
                        <div class="about-us__we-card">
                            <div class="about-us__we-wrap-card">
                                <div class="about-us__wrap-img">
                                    <img src="images/bg-1.svg" alt="">
                                    <p><span>шаг</span>1</p>
                                </div>

                                <h4 class="show-mobile">Определение задачи.</h4>
                            </div>

                            <div class="about-us__we-card-desc">
                                <h4 class="show-desk">Определение задачи.</h4>
                                <p>
                                    Определение Вашего продукта и вашей потребности – это самый важный шаг всего
                                    процесса. Мы
                                    начинаем с описания проекта в свободной форме. Первым шагом является заполнение
                                    одной из
                                    наших форм спецификации проекта. Все сложные вопросы будут сопровождаться телефонной
                                    консультацией с членами нашей команды. Если Вам требуется помощь, позвоните нам по
                                    телефону
                                    +375 17 351-89-81 или обратитесь другим удобным способом.
                                </p>
                            </div>
                        </div>
                        <div class="about-us__we-card">
                            <div class="about-us__we-wrap-card">
                                <div class="about-us__wrap-img">
                                    <img src="images/bg-1.svg" alt="">
                                    <p><span>шаг</span>2</p>
                                </div>

                                <h4 class="show-mobile">Шаг 2. Кампания.</h4>
                            </div>
                            <div class="about-us__we-card-desc">
                                <h4 class="show-desk">Шаг 2. Кампания.</h4>
                                <p>
                                    После определения проектной задачи, мы готовы подписать договор и начать кампанию.
                                    Во время кампании мы взаимодействуем с авторитетными и проверенными производителями
                                    оборудования, которые в состоянии изготовить оборудование согласно техническим и
                                    прочим параметрам, определенными в Шаге №1. Вы можете указать, от каких
                                    производителей вы бы хотели получить предложения дополнительно, если у Вас есть
                                    такие.
                                </p>
                            </div>
                        </div>
                        <div class="about-us__we-card">
                            <div class="about-us__we-wrap-card">
                                <div class="about-us__wrap-img">
                                    <img src="images/bg-1.svg" alt="">
                                    <p><span>шаг</span>3</p>
                                </div>
                                <h4 class="show-mobile">Шаг 3. Результат.</h4>
                            </div>
                            <div class="about-us__we-card-desc">
                                <h4 class="show-desk">Шаг 3. Результат.</h4>
                                <p>
                                    После сбора и анализа всех предложений, мы предоставим Вам финальные отчеты,
                                    сравнительные таблицы и все исходные спецификации. Отчеты будут иметь контактную
                                    информацию, чтобы Вы могли при желании самостоятельно провести оценку всех
                                    поставщиков. Вашу контактную информацию мы сохраняем конфиденциальной для
                                    предотвращения нежелательных контактов.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-us__delivery">
                    <div class="form__wrap about-us__bg">
                        <div class="about-us__delivery-desc-1">
                            <p>Доставка оборудования автотранспортом</p>
                            <p>География поставок промышленного оборудования автотранспортом обширна и включает все
                                города
                                Беларуси. Возможна также доставка груза как до терминалов транспортных компаний, так и
                                по
                                адресу вашего предприятия.
                            </p>
                        </div>
                        <div class="about-us__delivery-list-wrap">
                            <p class="about-us__delivery-desc-2">Основные преимущества доставки грузов
                                автотранспортом:</p>
                            <ul class="about-us__delivery-list">
                                <li class="about-us__delivery-item">
                                    <div class="about-us__delivery-item-img-wrap">
                                        <img src="images/oclocke.png" alt="">
                                        <p class="about-us__delivery-title show-mobile">Быстрота!</p>
                                    </div>
                                    <div class="about-us__delivery-item-content">
                                        <p class="about-us__delivery-title show-desk">Быстрота!</p>
                                        <p>Cредний срок доставки автотранспортом составляет 3 дня</p>
                                    </div>
                                </li>
                                <li class="about-us__delivery-item">
                                    <div class="about-us__delivery-item-img-wrap">
                                        <img src="images/money.png" alt="">
                                        <p class="about-us__delivery-title show-mobile">Быстрота!</p>
                                    </div>
                                    <div class="about-us__delivery-item-content">
                                        <p class="about-us__delivery-title show-desk">Быстрота!</p>
                                        <p>Cредний срок доставки автотранспортом составляет 3 дня</p>
                                    </div>
                                </li>
                                <li class="about-us__delivery-item">
                                    <div class="about-us__delivery-item-img-wrap">
                                        <img src="images/check.png" alt="">
                                        <p class="about-us__delivery-title show-mobile">Быстрота!</p>
                                    </div>
                                    <div class="about-us__delivery-item-content">
                                        <p class="about-us__delivery-title show-desk">Быстрота!</p>
                                        <p>Cредний срок доставки автотранспортом составляет 3 дня</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="about-us__delivery-pay">
                            <p>Оплата за оборудование</p>
                            <p>Оплата за оборудование производится путем безналичного перечисления средств на расчетный
                                счет компании согласно реквизитам.
                                Срок поставки оборудования считается от даты фактического прихода денег.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
