{% extends 'layout/base.twig' %}
{% block title %}Техимпорт{% endblock %}
{% block body %}
    <section class="hero hero--articles"
             style="background: url('images/hero-article.jpg')no-repeat center;  background-size: cover;">
        <div class="container">
            <div class="hero__wrap hero__wrap--articles">
                <div class="hero__content">
                    <h2 class="hero__title hero__title--articles">Расширение серии Chicago Pneumatic CP3550</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="article__wrap">
        <div class="container">
            <div class="article__wrap-content">
                <iframe class="article__video" src="https://www.youtube.com/embed/01tPfCNfYLg" frameborder="0"
                        allowfullscreen="true"></iframe>
                <div class="article__desc-wrap article__50">
                    <p class="article__desc-title">Серия Cp3550 от Chicago Pneumatic была расширена, чтобы удовлетворить
                        все ваши требования в отношении
                        промышленной шлифовки и полировки</p>
                    <p class="article__desc">Chicago Pneumatic расширяет свое семейство продуктов серии Cp3550 еще
                        девятью моделями. Таким
                        образом, был
                        создан широкий спектр стержневых и угловых шлифовальных станков, а также полировальных машин,
                        которые
                        повышают производительность и в то же время повышают комфорт оператора. Расширенная серия CP3550
                        теперь
                        включает в себя полную палитру инструментов с большой производительностью, для эргономичной
                        работы и
                        по
                        справедливой цене.</p>
                    <p class="article__desc">В прямом сравнении класса с моделями конкурса серия CP3550 с регулируемым
                        двигателем мощностью 1,5 л.
                        с.
                        (1100 Вт) обеспечивает максимальную мощность. Кроме того, в сравнительных тестах скорость износа
                        материалов
                        чикагских пневматических инструментов была более чем на 50 процентов выше-в одном случае даже
                        более
                        чем на
                        80 процентов. (Источник: собственные лабораторные тесты продукта)</p>
                </div>
            </div>
            <h4 class="article__title">Особенности серии</h4>
            <div class="article__wrap-content">
                <div class="article__desc-wrap article__50">
                    <p class="article__desc">Особенности всей серии CP3550 включают вращающееся соединение сжатого
                        воздуха. Эта технология
                        позволяет
                        свободно маневрировать без шланговых узлов и не встречается ни с одним другим сопоставимым
                        инструментом
                        этого класса производительности. Кроме того, обтекаемый рычаг безопасности удобно работать даже
                        с
                        толстыми
                        перчатками. Ручки малого диаметра обеспечивают приятную обработку, а также теплоизолированную
                        накладную
                        втулку из композитного материала. Кроме того, специальная технология звукоизоляционной пены
                        позволяет
                        работать с низким уровнем шума. Особенности всей серии CP3550 включают вращающееся соединение
                        сжатого
                        воздуха.</p>
                    <p class="article__desc">Время, необходимое для замены аксессуаров в серии CP3550, сокращается за
                        счет быстрой и простой
                        блокировки
                        шпинделя, для которой требуется только один гаечный ключ. Бесключевая регулировка защиты угловой
                        шлифовальной машины в настоящее время уникальна и позволяет быстро изменять, даже при ношении
                        перчаток,
                        для
                        различных рабочих положений и для безопасного отклонения искр.</p>
                </div>

                    <img class="article__img article__img-show" src="images/article-img.jpg" alt="">

            </div>
        </div>
    </div>

    <section class="article__cards">
        <div class="container">
            <div class="article__cards-wrap">

                <div class="article__card-item">
                    <a href="#">
                        <img src="images/article-cards.png" alt="">
                        <p class="article__card-desc">
                            CP3550-120 (180)
                            Инструментальные
                            шлифовальные станки
                        </p>
                    </a>
                </div>
                <div class="article__card-item">
                    <a href="#">
                        <img src="images/article-cards.png" alt="">
                        <p class="article__card-desc">
                            CP3550-120 (180)
                            Инструментальные
                            шлифовальные станки
                        </p>
                    </a>
                </div>
                <div class="article__card-item">
                    <a href="#">
                        <img src="images/article-cards.png" alt="">
                        <p class="article__card-desc">
                            CP3550-120 (180)
                            Инструментальные
                            шлифовальные станки
                        </p>
                    </a>
                </div>
                <div class="article__card-item">
                    <a href="#">
                        <img src="images/article-cards.png" alt="">
                        <p class="article__card-desc">
                            CP3550-120 (180)
                            Инструментальные
                            шлифовальные станки
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="quote" style="background: url('images/quote-bg.jpg')no-repeat center;  background-size: cover;">
        <div class="container">
            <div class="quote__wrap">
                <div class="quote__img-wrap">
                    <img src="images/quote-aftor.png" alt="">
                </div>
                <div class="quote__content">
                    <h4 class="quote__title">
                        Харальд Оденман, менеджер по маркетингу продуктов в Chicago Pneumatic:
                    </h4>
                    <p class="quote__desc">
                        С серией CP3550 мы теперь предлагаем полный набор инструментов с большой производительностью,
                        для эргономичной работы и по справедливой цене. Компания экономия эксплуатационных расходов
                        благодаря очень длинные интервалы от 1000 часов и прочной конструкцией, которая на долговечность
                        и надежность в тяжелых промышленных рассчитана приложений. С пневматическими инструментами серии
                        CP3550 мы можем удовлетворить все требования в промышленности.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
