{% extends 'layout/base.twig' %}
{% block title %}Техимпорт{% endblock %}
{% block body %}
    {% include 'components/hero.twig' with
        {
            modDesc : 'hero__desc--hide',
            modTitle : 'hero__title--not-index hero__title--fein',
            modBtn : 'hero__btn--hide',
            title : 'Электрический инструмент Fein',
            modHero : 'hero--fein',
        } %}
    <div class="container">
        {% include 'components/bread-crumbs.twig' %}
    </div>
    {% include 'components/about-prod.twig' with
        {
            modImg : 'about-prod__img--fein',
            img : '../images/about-prod-fein.png',
            alt : 'Fein',
            title : 'Файн - сделано в Германии (г.Штутгарт)',
            preTitle : 'COOO "ТЕХИМПОРТ" -официальный дилер C. & E. FEIN GMBH в Республике Беларусь.',
            desc : 'Фирма FEIN - ведущий специалист в области профессиональных и сверхнадежных электроинструментов и специальной оснастки для металлообработки, автомобилестроения, а также внутренней отделки в строительстве. Начиная с изобретения электродрели, фирма FEIN вот уже 140 лет создает инновационный и непревзойденный электроинструмент для практических нужд, прекрасно зарекомендовав себя в самых жестких условиях непрерывной эксплуатации в промышленности и быту.
',
            href : '#',
            linkDesc : 'fein.de',
        } %}

    {% include 'components/about-list.twig' with
        {
            aboutListItem : [
            {
                href : '#',
                img : '../images/fein/дрели.png',
                alt : 'Drel',
                title : 'Дрели',
                subList : [
                {
                    desc: '- электрические',
                },
                {
                    desc: '- аккамуляторные',
                },
                {
                    desc: '- резьбонарезные',
                },
                {
                    desc: '- угловые',
                },
                {
                    desc: '- ударные',
                },
            ],
            },
            {
                href : '#',
                img : '../images/fein/перфоратор.png',
                alt : 'перефоратор',
                title : 'Перфораторы',
            },
            {
                href : '#',
                img : '../images/fein/винтоверт.png',
                alt : 'винтоверт',
                title : 'Винтоверты и<br> шуруповерты',
            },
            {
                href : '#',
                img : '../images/fein/ударный-гайковерт.png',
                alt : 'ударный гайковерт',
                title : 'Ударные<br> гайковерты',
            },
            {
                href : '#',
                img : '../images/fein/магнитные-свелителльные-станки.png',
                alt : 'Магнитные сверлительные станки',
                title : 'Магнитные<br> сверлительные<br> станки',
            },
            {
                href : '#',
                img : '../images/fein/шлифовальная-машинка.png',
                alt : 'Машинки',
                title : 'Машинки',
                subList : [
                {
                    desc: '- полировальные',
                },
                {
                    desc: '- угловые шлифовальные',
                },
                {
                    desc: '- угловые шлифовальные',
                },
            ],
            },
            {
                href : '#',
                img : '../images/fein/шлиф-станок.png',
                alt : ' Шлифовальные станки GRIT',
                title : ' Шлифовальные<br> станки GRIT',
            },
            {
                href : '#',
                img : '../images/fein/лобзик.png',
                alt : 'Лобзики и пилы',
                title : 'Лобзики и пилы',
            },
            {
                href : '#',
                img : '../images/fein/осцил.png',
                alt : 'Осцилирующий инструмент',
                title : 'Осцилирующий<br> инструмент',
            },
            {
                href : '#',
                img : '../images/fein/электрические-ножницы.png',
                alt : 'Электрические ножницы',
                title : 'Электрические<br> ножницы',
            },
            {
                href : '#',
                img : '../images/fein/пылесос.png',
                alt : 'Пылесосы',
                title : 'Пылесосы',
            },
            {
                href : '#',
                img : '../images/fein/баланс.png',
                alt : ' Балансиры',
                title : ' Балансиры',
            },
        ],

        } %}

    {% include 'components/buttons.twig' %}

    {% include 'components/about-prod-desc.twig' %}

    {% include 'components/title-block.twig' with
        {
          title : 'Видеообзор интсрумента Fein',
        },
    %}
    {% include 'components/video-block.twig' %}
    {% include 'components/сontact-us.twig' with
        {
            mod : 'contacts-us--fein',
        }, %}
{% endblock %}
