{% extends 'layout/base.twig' %}
{% block title %}Техимпорт{% endblock %}
{% block body %}
    <section class="hero hero--contacts" style="background: url('images/service/hero.jpg')no-repeat center">
        <div class="container">
            <div class="hero__wrap hero__wrap--contacts">
                <div class="hero__content">
                    <h2 class="hero__title hero__title--center">Сервис и запасные части</h2>
                </div>
            </div>
        </div>
    </section>


    <section class="service__desc">
        <div class="container">
            <div class="service__desc-wrap">
                <div class="service__cube">
                    <svg width="509" height="547" viewBox="0 0 509 547" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="473.175" y="214.387" width="338.725" height="308.645" rx="70"
                              transform="rotate(133.996 473.175 214.387)" fill="url(#paint0_linear)"/>
                        <rect width="352.185" height="334.363" rx="70"
                              transform="matrix(-0.710664 -0.703532 -0.703532 0.710664 489.282 308.447)"
                              fill="url(#paint1_linear)"/>
                        <rect x="254.872" y="19.4883" width="359.737" height="359.737" rx="60"
                              transform="rotate(45.1126 254.872 19.4883)" fill="white"/>
                        <path d="M260.825 81.1215C242.141 62.7425 224.86 79.0939 218.556 89.5669L300.301 169.975C316.65 186.057 300.11 211.474 289.796 222.172L206.256 308.828C193.879 321.666 243.51 370.485 255.887 357.647L339.428 270.991C356.755 253.018 369.67 263.221 378.429 271.836L416.382 309.169L428.758 296.331C441.135 283.493 456.431 273.527 441.833 259.168L260.825 81.1215Z"
                              fill="#F3F3F3"/>
                        <path d="M200.72 215.729L146.276 162.258L45.918 266.197C45.918 266.197 42.9301 269.604 43.418 272.104C43.9058 274.604 49.418 279.572 49.418 279.572L239.553 466.308C252.363 478.89 270.017 467.069 277.242 459.586L370.138 363.374L354.125 347.647C341.315 335.066 331.919 338.335 328.823 341.542L260.699 412.097C250.79 422.36 237.637 414.441 232.3 409.199L136.222 314.839C123.412 302.257 128.467 290.56 132.596 286.284L200.72 215.729Z"
                              fill="#F3F3F3"/>
                        <defs>
                            <linearGradient id="paint0_linear" x1="359.46" y1="486.914" x2="563.342" y2="238.908"
                                            gradientUnits="userSpaceOnUse">
                                <stop stop-color="#58A54B"/>
                                <stop offset="0.771314" stop-color="#76A040" stop-opacity="0"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear" x1="-118.233" y1="295.235" x2="104.218" y2="35.5303"
                                            gradientUnits="userSpaceOnUse">
                                <stop stop-color="#58A54B"/>
                                <stop offset="0.771314" stop-color="#76A040" stop-opacity="0"/>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <div class="service__articles">
                    <p><b>ООО "Управляющая группа Техимпорт" поставляет запчасти для любых видов промышленного
                            оборудования, а также осуществляет ремонт и восстановление любой сложности.</b></p>
                    <div class="service__articles--hide">
                        <p>Мы осуществляем индивидуальный подход к каждому клиенту и в зависимости от условий и
                            особенностей
                            эксплуатации подбираем подходящее оборудоание и зпчасти для него. Команда провессионалов
                            также
                            решает вопросы любой сложности, касающиеся ремонта оборудования.

                            Свяжитесь с нами по указанным номерам телефона или закажите звонок через форму обртной связи
                            и
                            наш консультант ответит на все Ваши вопросы. </p>
                        <p>
                            Свяжитесь с нами по указанным номерам телефона или закажите звонок через форму обртной связи
                            и
                            наш консультант ответит на все Ваши вопросы. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="service__articles--show">
            <p>Мы осуществляем индивидуальный подход к каждому клиенту и в зависимости от условий и
                особенностей
                эксплуатации подбираем подходящее оборудоание и зпчасти для него. Команда провессионалов
                также
                решает вопросы любой сложности, касающиеся ремонта оборудования.

                Свяжитесь с нами по указанным номерам телефона или закажите звонок через форму обртной связи
                и
                наш консультант ответит на все Ваши вопросы. </p>
            <p>
                Свяжитесь с нами по указанным номерам телефона или закажите звонок через форму обртной связи
                и
                наш консультант ответит на все Ваши вопросы. </p>
        </div>
    </div>

<section class="brands brands--service">
    <div class="container">
        <ul class="brands__list">
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/chicago.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/larzep.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/bruks.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/paul.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/teim.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/rapha.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/tersa.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/krais.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/aquafrish.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/unigrind.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/giardinagroup.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/scheuch.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/faccin.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/belotti.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/fisher.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/soukup.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/mometo.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/lagos.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/indusrtial.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/rad.png" alt="">
                </a>
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#">
                    <img src="../images/slider/ega.png" alt="">
                </a>
            </li>

        </ul>
    </div>
</section>

    <section class="contacts-us {{ mod }}">
        <div class="container">
            <div class="contacts-us__wrap">
                {% include 'components/form.twig' %}
            </div>
        </div>
    </section>
{% endblock %}
