<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__logo">
                <div class="logo">
                    <a href="/">
                        <picture>
                            <source media="(max-width: 670px)"
                                    srcset="/theme/images/logo-mobile.svg 1x, @2x.@2x./images/logo-mobile@2x.svg">
                            <source media="(min-width: 768px) and (max-width: 1300px)"
                                    srcset="/theme/images/logo.png 1x, @2x.@2x./images/logo@2x.png">
                            <source media="(min-width: 961px)" srcset="/theme/images/logo.svg 1x, @2x.@2x./images/logo@2x.svg">
                            <img  src="/theme/images/logo.svg" srcset="/theme/images/logo.svg 1x, @2x@2x/images/logo@2xsvg"
                                  alt="Техимпорт ">
                        </picture>
                    </a>
                </div>
                <div class="footer__content">
                    <div class="footer__wrapper-requisites">
                        <div class="footer__requisites-wrap">
                            <h5 class="footer__title">[(client_footer_title)]</h5>
                            <span class="footer__requisites">
                                <span class="footer__requisites-title">Наши реквизиты:</span>
                               [(client_reqviz)]
                                <span class="footer__address">[(client_adress)]</span>
                            </span>
                        </div>
                        <div class="footer__contacts">
                            <ul class="footer__contacts-list">
                                <li class="footer__contacts-item">
                                    <a class="footer__contacts-link footer__contacts-link--phone" href="tel:[(client_phone_1)]">Тел. [(client_phone_1)]</a>,
                                </li>
                                <li class="footer__contacts-item">
                                    <a class="footer__contacts-link footer__contacts-link--fax"
                                       href="fax:[(client_phone_2)]">Факс. [(client_phone_2)]</a>
                                </li>
                                <li class="footer__contacts-item">
                                    <a class="footer__contacts-link footer__contacts-link--mail"
                                       href="mailto:[(client_email)]">[(client_email)]</a>
                                </li>
                                <li class="footer__contacts-item">
                                    <a class="footer__contacts-link footer__contacts-link--site"
                                       href="[(client_web_site)]">[(client_web_site)]</a>
                                </li>
                                <div class="social-links social-links--footer">
                                    <ul class="social-links__list ">
                                        <li class="social-links__item">
                                            <a class="social-links__link social-links__link--whatsup" href="[(client_ws)]">Whats UP!</a>
                                        </li>
                                        <li class="social-links__item">
                                            <a class="social-links__link social-links__link--viber" href="[(client_vb)]">Viber</a>
                                        </li>
                                        <li class="social-links__item">
                                            <a class="social-links__link social-links__link--tg" href="[(client_tg)]">Telegram</a>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                        <div class="footer__nav">
                            <ul class="footer__nav-list">
                                <li class="footer__nav-item ">
                                    <a class="footer__nav-link " href="#">Каталог</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link " href="#">Статьи</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link " href="#">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__contacts footer__contacts-show-tablet">
                        <ul class="footer__contacts-list">
                            <li class="footer__contacts-item">
                                <a class="footer__contacts-link footer__contacts-link--phone" href="tel:[(client_phone_1)]">Тел. [(client_phone_1)]</a>,
                            </li>
                            <li class="footer__contacts-item">
                                <a class="footer__contacts-link footer__contacts-link--fax"
                                   href="fax:[(client_phone_2)]">Факс. [(client_phone_2)]</a>
                            </li>
                            <li class="footer__contacts-item">
                                <a class="footer__contacts-link footer__contacts-link--mail"
                                   href="mailto:[(client_email)]">[(client_email)]</a>
                            </li>
                            <li class="footer__contacts-item">
                                <a class="footer__contacts-link footer__contacts-link--site"
                                   href="[(client_web_site)]">[(client_web_site)]</a>
                            </li>
                            <div class="social-links social-links--footer">
                                <ul class="social-links__list ">
                                    <li class="social-links__item">
                                        <a class="social-links__link social-links__link--whatsup" href="[(client_ws)]">Whats UP!</a>
                                    </li>
                                    <li class="social-links__item">
                                        <a class="social-links__link social-links__link--viber" href="[(client_vb)]">Viber</a>
                                    </li>
                                    <li class="social-links__item">
                                        <a class="social-links__link social-links__link--tg" href="[(client_tg)]">Telegram</a>
                                    </li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                    <div class="footer__form">
                        <form action="#">
                            <div class="form__input-wrap">
                                <label class="form__label" for="name">
                                    <input class="form__input" id="name" type="text" placeholder="Ваше имя">
                                </label>
                                <label class="form__label" for="tel">
                                    <input class="form__input" id="tel" type="tel" placeholder="Ваш номер телефона"
                                           required>
                                </label>
                                <div class="form__btn-wrap">
                                    <button class="btn btn--green form__btn form__btn--footer" type="submit">Заказать обратный
                                        звонок
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="developed">
        <p class="developed-title">Разработка и продвижение</p>
        <a class="developed-link" href="#">
            <img class="developed-img" src="/theme/images/CMbox.svg" alt>CMbox</a>
    </div>
</footer>