<footer class="footer">
    <div class="footer__desc">
        <h3>Any questions?</h3>
        <p>Write to us</p>
        <a href="#">info@sgbb.com</a>
    </div>
    <div class="container container--payment">
    <div class="footer__wrap">

        <div class="footer__social">
            <h3>SGBB Limited</h3>
            <ul>
                <li><a href="#"><img src="images/f.svg" alt=""></a></li>
                <li><a href="#"><img src="images/i.svg" alt=""></a></li>
                <li><a href="#"><img src="images/t.svg" alt=""></a></li>
            </ul>
        </div>
        <div class="footer__copyright">© SGBB. All right reserved.</div>
        <div class="un"></div>
        </div>
    </div>
</footer>