<footer class="footer">
    <div class="footer__desc">
        <h3>Any questions?</h3>
        <p>Write to us</p>
        <a href="#">info@sgbb.group</a>
    </div>
    <div class="container container--payment">
    <div class="footer__wrap">

        <div class="footer__social">
            <h3>SGBB Limited</h3>
        </div>
        <div class="footer__copyright">© SGBB. All right reserved.</div>
        <div class="un"></div>
        </div>
    </div>
</footer>