<header class="header">
    <div class="nav__mobile">
        <button class="close">
            <span></span>
            <span></span>
        </button>
        <div class="header__wrap-btn header__wrap-btn--mobile">
            <a href="#form" class="btn mobile--link" >contact us</a>
        </div>
        <ul class="nav__list nav__list--mobile">
            <li><a href="#works" class="mobile--link">How it works</a></li>
            <li><a href="#connect" class="mobile--link">How to connect</a></li>
            <li><a href="#need" class="mobile--link">Benefits</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="header__wrap">
            <button class="burger">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <img src="images/logo.svg" alt="">
            <ul class="nav__list">
                <li><a href="#works">How it works</a></li>
                <li><a href="#connect">How to connect</a></li>
                <li><a href="#need">Benefits</a></li>
            </ul>
            <div class="header__wrap-btn">
                <a href="#form" class="btn" >contact us</a>
            </div>
        </div>
    </div>
</header>


