<header class="header">
    <div class="container">
        <div class="header__wrap">
            <img src="images/logo.svg" alt="">
            <ul>
                <li><a href="#">How it works</a></li>
                <li><a href="#">How to connect</a></li>
                <li><a href="#">Benefits</a></li>
            </ul>
            <div class="header__wrap-btn">
                <a href="#" class="btn">contact us</a>
            </div>
        </div>
    </div>
</header>


